<%= form_with(model: @tweet, local:true) do |form| %>
  <div class="tweet_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to 'ブログ一覧画面にもどる', tweets_path %>
